version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: local_dev_db
      MYSQL_USER: localuser
      MYSQL_PASSWORD: localpassword
    volumes:
      - mysql_data:/var/lib/mysql

  mysql_test:
    image: mysql:latest
    container_name: mysql_test
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: local_dev_test_db
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpassword

volumes:
  mysql_data:
